@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(profile.css);
 */
* {
  @apply m-0 p-0 box-border outline-none;
}

html {
  @apply w-screen h-screen leading-none;
}

body {
  @apply w-screen h-screen flex flex-col justify-center items-center text-base overflow-x-hidden;
}

#root {
  @apply w-screen h-screen flex flex-col justify-center items-center bg-body-light-200 dark:bg-body-dark;
}

ul {
  @apply list-none;
}

input,
select {
  @apply p-0 leading-none m-0 focus:outline-none;
}

.btn-primary {
  @apply bg-btn-primary-base hover:bg-btn-primary-hover;
}

.btn-secondary {
  @apply bg-btn-secondary-base hover:bg-btn-secondary-hover;
}

.btn-cancel {
  @apply bg-btn-cancel-base hover:bg-btn-cancel-hover;
}

.input-color {
  @apply bg-input-base border-input-border placeholder-input-placeholder;
}

.header-button {
  @apply w-14 h-14 header-button-color flex items-center justify-center text-white;
}

.body-color {
  @apply bg-body-light-100;
}

.balance-color {
  color: #338896;
}

.currency-color {
  color: #3fa7b8;
}

.header-base {
  background: #337782;
}

.header-gold {
  @apply text-header-gold;
}

.header-button-color {
  background-color: #75acb1;
}

.text-my-data-dark {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;

  display: flex;
  align-items: center;

  color: #a2a2a2;
}

.text-my-data-light {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;

  display: flex;
  align-items: center;

  color: #727272;
}

.long {
  @apply w-full;
}

.short {
  @apply w-28;
}

.input-label {
  @apply text-sm font-extralight;
}
